/* KEY BUTTON DISPLAYS */

.info {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	color: white;
}

#controls {
	display: flex;
	justify-content: center;
	font-size: 1.25vh;
	padding: 0.25vh 0.25vw;
	margin-top: 1vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.control-set,
.control-and-help {
	display: flex;
	align-items: center;
}

.control-and-help {
	padding: 0 0.25vw;
}

.control-help {
	padding-left: 0.25vw;
}

.control {
	font-family: "212 Keyboard";
	font-size: 4vh;
}

