@import url('https://fonts.cdnfonts.com/css/chinese-rocks');

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Chinese Rocks Rg', sans-serif;
	overflow: hidden;
	display: none;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
}

#tpz_characters {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */ 
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.dialog {
	font-family: 'Chinese Rocks Rg', sans-serif;
	position: absolute;
	font-size: 22px;

	width: 100%;
	height: 100%;
	background-color: rgba(8, 8, 8, 0);
}

#character_create_fade_background {
	position: absolute;

	width: 100%;
	height: 100%;
	
	background-color: rgba(24, 24, 24, 0.437);
}

#character_create_background {
	position: absolute;

	color: #ffffffb9;

	font-family: 'Chinese Rocks Rg', sans-serif;
	font-size: 1.1vw;

	margin-left: 36.5%;
	margin-top: 9%;

	height: 43%;
	width: 27%;

	background-color: rgba(0, 0, 0, 0.737);

	border-radius: 2%;
}

#character_create_title {
	position: absolute;

	top: 0.7vw;
	color: #ffffffe0;

	font-family: 'Chinese Rocks Rg', sans-serif;
	font-size: 1.3vw;

	height: fit-content;
	width: 23%;

	text-align: center;

	margin-top: 9.5%;
	margin-left: 38.4%;

	white-space: wrap;
}

.createinput {
	position: absolute;

	text-align: center;
	width: 25%;

	margin-left: 37.5%;
}

#character_create_firstname {
	margin-top: 15%;
}


#character_create_lastname {
	margin-top: 18%;
}


#character_create_dob {
	margin-top: 21%;
}


#character_create_sex_select_m_text {
	position: absolute;
	
	
	color: #ffffffb9;

	font-family: 'Chinese Rocks Rg', sans-serif;
	font-size: 1.1vw;

	width: 3%;

	text-align: right;

	margin-left: 38%;
	margin-top: 23.4%;

}

#character_create_sex_select_m {
	position: absolute;
	width: 2%;

	
	margin-left: 41.5%;
	margin-top: 23.7%;
}


#character_create_sex_select_f_text {
	position: absolute;
	
	
	color: #ffffffb9;

	font-family: 'Chinese Rocks Rg', sans-serif;
	font-size: 1.1vw;

	width: 3%;

	text-align: right;

	margin-left: 45.5%;
	margin-top: 23.4%;

}


#character_create_sex_select_f {
	position: absolute;

	width: 2%;
	margin-top: 23.7%;
	margin-left: 49%;
}

#create_character_button, #create_character_cancel_button {
	position: absolute;

	color: #ffffffb9;

	font-family: 'Chinese Rocks Rg', sans-serif;
	font-size: 1.1vw;

	margin-left: 37.5%;
	margin-top:  27%;

	padding-top: 0.1vw;

	width: 25%;
	
	height: 1.3vw;

	text-align: center;

	background-color: rgba(61, 61, 61, 0.76);
}

#create_character_cancel_button {
	color: rgba(199, 17, 17, 0.829);
	margin-top: 29%;
}


#create_character_button:hover, #create_character_cancel_button:hover {
	opacity: 0.7;
}

/* Other */

input[type=text] {

	font-family:Arial, Helvetica, sans-serif;
	font-size: 1vw;
	color: white;
	height: 1.2vw;
	text-align: center;
	background-color: rgba(27, 27, 27, 0.644);
	border-color: rgba(58, 58, 58, 0.415);
}

.radio {
	font-family: 'Chinese Rocks Rg', sans-serif;
	font-size: 0.7vw;
	color: #ddc076dc;
}

input[type=radio]#character_create_sex_select_m {
	accent-color: rgba(81, 81, 233, 0.602);
}

input[type=radio]#character_create_sex_select_f {
	accent-color: rgba(255, 192, 203, 0.602);
}

input[type="radio"]:checked + label:before {
	background-color: #93e026;
}

textarea {
	resize: none;
}